---
layout: default
title: Portfolio
section_id: portfolio
works:
  - image: images/groupPics/lixia_zhang.jpg
    title: Lixia Zhang
    link_to: https://www.google.com
    klass: graphic-design
    desc: Principal Investigator
  - image: images/groupPics/hunter_dellaverson.jpg
    title: John Dellaverson
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/tianxiang_li.jpg
    title: Tianxiang Li
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/@stock/work-4.jpg
    title: Tianyuan Li
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/xinyu_ma.jpeg
    title: Xinyu Ma
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/yuguan.jpg
    title: Yu guan
    link_to: https://www.google.com
    klass: development print
    desc: Visiting Graduate Researcher from Peking University
  - image: images/@stock/work-7.jpg
    title: Zhaoning
    link_to: https://www.google.com
    klass: brand
    desc: Masters Student
  - image: images/groupPics/zhiyi_zhang.jpg
    title: Zhiyi
    link_to: https://zhiyi-zhang.com/
    klass: candidate
    desc: Ph.D Candidate
  - image: images/groupPics/yufeng.jpg
    title: Yufeng
    link_to: https://www.google.com
    klass: Undergraduate
    desc: Undergraduate
---


<div class='full parallax' style='background-image: url(images/banner/banner.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The team" tagline="The members of the IRL Group." color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Principal Investigator</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Ph.D Student</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Masters Student</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Visiting Researcher</a>
          </li>
          <li>
            <a data-cat='candidate' href='#'>Ph.D Candidate</a>
          </li>
          <li>
            <a data-cat='Undergraduate' href='#'>Undergraduate</a>
          </li>

        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>